@import "tailwindcss";
@plugin "daisyui";

@layer base {
  *,
  ::before,
  ::after {
    border-color: #d1d5dc; /* custom default border color */
  }
}

button {
  cursor: pointer;
}

/* Hide arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
