@import "tailwindcss";
@plugin "daisyui";

/* Fonts */

/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

p,
td,
div {
  font-family: "Roboto";
  font-weight: 400;
}

button,
a {
  font-family: "Poppins";
  font-weight: 500;
}

@layer base {
  *,
  ::before,
  ::after {
    border-color: #d1d5dc; /* custom default border color */
  }
}

* {
  scroll-behavior: smooth;
}

thead {
  background-color: rgb(240, 240, 240);
}

tr {
  border-bottom: 1px solid #d1d5dc;
}

tbody > tr:hover {
  background-color: #f9fafb;
}

/* Hide arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
