@import "tailwindcss";
@plugin "daisyui";

/* Fonts */

/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

p,
td,
div {
  font-family: "Roboto";
  font-weight: 400;
}

button,
a,
label {
  font-family: "Poppins";
  font-weight: 500;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  *,
  ::before,
  ::after {
    border-color: #d1d5dc; /* custom default border color */
  }
}

* {
  scroll-behavior: smooth;
}

thead {
  background-color: rgb(240, 240, 240);
}

tr {
  border-bottom: 1px solid #d1d5dc;
}

tbody > tr:hover {
  background-color: #f9fafb;
}

/* Hide arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body,
a,
button,
select,
img {
  cursor: pointer;
}

.loading-img {
  animation: loading 1s linear infinite alternate;
}
@keyframes loading {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}
/* Remove outline/border on click or focus */
.recharts-wrapper:focus,
.recharts-wrapper *:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Ring Border Base */
.progress-ring {
  position: relative;
}

.progress-ring::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 50%;
  border: 3px solid #e5e7eb;
}

/* Animated Loading Ring */
.progress-ring::after {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #00c853; /* Green */
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu a:active {
  background-color: white;
  color: #ff0055;
}
